<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
">
<!--    导入dn.properties-->
    <context:property-placeholder location="classpath:db.properties"/>

<!--    配置c3p0数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${uname}"/>
        <property name="password" value="${upass}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="driverClass" value="${driver_class}"/>
        <property name="initialPoolSize" value="${initPoolSize}"/>
        <property name="maxPoolSize" value="${maxPoolSize}"/>
    </bean>

<!--    创建SqlsessionFactoro-->
 <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<!--     引入c3p0数据源-->
     <property name="dataSource" ref="dataSource"/>
<!--     引入mybatisConfig.xml配置文件-->
     <property name="configLocation" value="classpath:mybatisConfig.xml"/>
<!--     引入mybatisConfig.xm映射文件(mapping.xml)-->
     <property name="mapperLocations" value="classpath:com/fz/mappingXml/*.xml"/>
 </bean>
<!--关联dao-->
    <bean id="scannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.fz.dao"/>
    </bean>

</beans>